{
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Database=cs4540;User ID=cysun;Password=abcd;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*"
}
