@model Employee

    <table class="table">
        <tr>
            <th role="row">Id</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th role="row">Name</th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th role="row">Date Hired</th>
            <td>@Model.DateHired.ToString("d")</td>
        </tr>
        <tr>
            <th role="row">Supervisor</th>
            <td>@Model.Supervisor?.Name</td>
        </tr>
    </table>